* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c2d2e;
    color: white;
    padding: 20px;
    text-align: center;
}
@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.blink {
  animation: blink 1s infinite;
}

h1 {
  text-shadow: 0 0 10px white, 0 0 15px rgba(255, 255, 255, 0.538);
  /* Thêm lớp blink để tạo hiệu ứng nhấp nháy */
  animation: blink 2s infinite;
}
.hero {
    text-align: center;
    padding: 20px;
}

.hero button {
    margin-top: 10px;
}

.logo img {
    display: block;
    margin: 0 auto;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #464646d2;
    z-index: 1000;
    display: flex;
    justify-content: center;
}
nav ul {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: .5rem;
    font-size: 1.0rem;
  }

nav ul li {
    background: 
      conic-gradient(rgba(173, 216, 230, 0.511) 0 0)
      bottom/100% 0% no-repeat;
    transition: .2s;
    padding: 0 1em 0 1em;
    font-family:monospace;
  }
nav ul li:is(:hover,.active) {
    background-size: 100% 100%;
    transition: .2s .2s;
  }
nav ul:has(li:hover) li.active:not(:hover) {
    background-size: 100% 0%;
    transition: .2s;
  }

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 900;
  line-height: 1.5;
  padding-inline: .2em;
  display: block;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

.product img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    bottom: 0;
    width: 100%;
}